@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "DM Sans", sans-serif;
    color:black;
    font-style: none;
    text-decoration: none;
    font-size: small;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 40px 23px 32px;
    width: 100vw;
    height: 90px;
    box-shadow: 0px 4px 13px 1px rgba(212, 211, 211, 0.466);
    z-index: 1000;
    background-color: white;
    position: fixed;
}

/* ↓↓ Inicio sección izquierda nav ↓↓ */

header .icon-country{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding:0 20px;
}

header .icon-country .country{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

header .icon-country .language{
    font-weight:600;
    font-size: larger;
}

header .icon-country .flag{
    height: 16px;
}

header .icon-country img{
    width:140px;
}

/* ↑↑ Fin sección izquierda nav ↑↑ */

/* ↓↓ Inicio sección derecha nav ↓↓ */

header nav .bi{
    display:none;
    width:24px;
    height:24px;
}

nav .navigator-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:28px;
}

nav .navigator-menu .navigator-element{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 350;
    height: 40px;
}

nav .navigator-menu .navigator-element span{
    font-size: large;
}

nav .navigator-menu .navigator-element:nth-child(6){
    font-weight: bold;
    border: 2px solid black;
    padding: 24px 20px;
    border-radius: 6px;
}

/* ↑↑ Fin sección derecha nav ↑↑ */

@media screen and (max-width:1120px){
    header{
        padding:0 20px 0 0;
        position: relative;
        bottom: 0px;
        height: 62px;
    }

    header nav .bi{
        display: flex;
        justify-items: end;
    }


    header nav .navigator-menu{
        display: none;
    }

    header .icon-country .country{
        display: none;
    }
}

@media screen and (max-width:767px){
    header{
        height: 55px;
    }

    header .icon-country img{
        width:110px;
    }
}