@import url(../phoneScreen.css);

.ChatsListScreen{
    width:362px;
    height:745px;
    border-radius: 37px;
    position: relative;
    top:6px;
    background-color: #121B22;
    overflow: hidden;
}